.nav-nav {
  background-color: #000;
  color: #fff;
  height: 100px;
}

.navbar-toggle {
  background-color: #ccc;
}

.navbar-collapse>.navbar-nav>ul>li>a {
  position: relative;
  top: 30px;
  right: 50px;
  color: #fff;
}
