nav {
  background-color: #000;
  color: #fff;
}

.nav-nav {
  background-color: #000;
  color: #fff;
  height: 100px;
}

.navbar-toggle {
  color: #000;
}

.sitelogo {
  margin-left: 30px;
  margin-top: 30px;
}

/* TOGGLE BUTTON STYLING */
.navbar-toggle {
  background: #000;
  margin-top: 10px;
}

.icon-bar {
  background-color: #fff;
}
/* TOGGLE BUTTON STYLING ENDS */
.navbar-nav {
  text-decoration: none;
  color: black;
}

.navbar-nav>li>a>.navbar-btn {
  margin-top: -15px;
}
.navlinks { /* link styling*/
  font-size: 18px;
  color: #77d8ff;
  background-color: #000;
  /* font-fam */
}

.navbar-nav {
  margin-right: 20px;
}
