@import url('https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Lora:400,700|Raleway');




.navbar {

  padding-top: 8px;
  padding-bottom: 6px;
  font-family: Cinzel;
  background: linear-gradient(to right, #2cf0ad, #00bcd4);
}


.navbar-brand {
  margin-left: 50px;
  color: #fff;
}

.logo { /*LOGO POSITIONING */
  position: absolute;
  top: 0px;
}

.dropdown {
  border-radius: 8px;

}

.dropdown a {
  color: black;
}


/* toggle button */
span.icon-bar {
  background-color: #fff;
}

button.navbar-toggle {
    border: 2px solid #005cb2;
}
/* NAV LINK */
.navlink {
  color: #1a237e;
  border-radius: 8px;
  transition: transform .5s;
  margin-right: 20px;
  font-size: 20px;
}


.navlink:hover { /* HOVER ZOOM */
  color: #000;
  transform: scale(1.2);
}

button .btn-default {
  border-radius: 8px;
  transition: transform .3s;
  text-decoration: none;
  color: black;
}

.jumbotron p {
  color: black;
}

.btn:hover {
  white-space: normal;
  transform: scale(1.2);
}

/* HOME SECTION CSS */

.home {
padding-top: 80px;
height: 900px;
background: linear-gradient(#00dcee, #002039);
}


.js {
  font-family: Comfortaa;
  background-color: #22283D;
  border-radius: 8px;
  color: #D0D8E0;
}

.hbtn {
  margin: 25px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}



.carousel {
  max-width: 600px;
  margin-top: 10px;
}

/* PORTFOLIO PAGE STYLING */
.pfl {
  height: 1200px;
  background: linear-gradient(#002039,#00dcee);
  padding-top: 80px;

  color: #ddd;
  font-family: Raleway;
}
.col-container {
    padding-left: 50px;
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    margin: 10px;
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.works {
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.works:hover {
    box-shadow: 0 0 2px 3px #81d4fa;
    /* shake animation last for 0.8 seconds */
    animation: shake 0.8s;
    /* Just keep shakin' */
    animation-iteration-count: infinite;
}



@keyframes shake { /* shakes portfolio images */
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ABOUT PAGE --------------------------*/

.about {
height: 840px;
padding-left: 10px;
background: linear-gradient(#00dcee, #002039);
color: #000;
padding-top: 100px;
font-family: Comfortaa;
font-size: 16px;
}

.skills {
  margin-left: 50px;
}

.pets {
  max-height: 180px;
  margin-right: 5px;
}

.flex-img {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;  /* ALL IMG ON ONE LINE */
}

.accordion-text {
  color: #fff;

}

.list {
  list-style: none;
}
.line {
  display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted #000;
    margin: 1em 0;
    padding: 0;
}

.contactform {
  background-color: #005b9f;
  height: 800px;
  font-family: Comfortaa;
  color: #FFF;
}


/* FORM CSS */
.flexform {
margin-top: 100px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #F7834E;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .5s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #F7D74E;
  color: #ff8e48;
  tranform: scale(1.5)
}

/* Add a background color and some padding around the form */

/* FORM CSS END */

/* =============FOOTER============*/
footer {
  min-height: 80px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #1a237e;
  font-family: Cinzel;
  font-size: 14px;
  background: linear-gradient(to right, #2cf0ad, #00bcd4);
}

.footer-links {
  line-height: 150%;
  margin-left: 20px;
  margin-top: 30px;

}

.pg {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;

  }


.pg:hover {
  opacity: 0.8;
  text-decoration: none;
}

.copy {
  margin-left: 80px;
  padding-top: 30px;
}

/* SOCIAL MEDIA BUTTONS */
.social {
  margin-top: 10px;
  margin-left: 150px;
}
/* SM ICON HOVER ZOOM */
.s {
  transition: transform .5s;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 5px;
  margin-right: 2px;
}

.s:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.fa-facebook {
  background: #3B5998;
  color: #fff;
}

.fa-twitter {
  background: #55ACEE;
  color: #fff;
}
.fa-linkedin {
  background: #007bb5;
  color: #fff;
}

.fa-github {
  background: #34383B;
  color: #fff;
}

.phone {
  margin-left: 5px;
}

/* BACK TO TOP BUTTON */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* change color of body bg-color/btn color for ABOUT PAGE */
@media only screen and (max-width: 600px) {
    footer {
      visibility: hidden;
    }
    .about {
        background-color: #000;
        color: #ddd;
    }
    .skillsbtn {
      color: white;
    }

}
